{% extends "login_base_page.html" %}

{% block title %}
  <title> Reset Password </title>
  {% load static from staticfiles %}
  <link href="{% static '/css/signup_page.css' %}" type="text/css" rel="stylesheet"/> 
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-3">
          <br /><br />
        </div>
        <div class="col-md-6" id="middlebar" style="background:#EEE; color:#000">
          <br /><br /><br /><br /><br /><br /><br /><br /><br />
          <form method = "post" action = "{% url 'confirmmessage' %}">
            {{form}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" type="submit">Send Email</button>
            <br /><br /><br /><br /><br />
            {% csrf_token %}
          </form>
          
          <a href={% url 'signup' %}><button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button></a>
          <br />
          <a href={% url 'home' %}><button class="btn btn-lg btn-default btn-block" type="submit" name="login">Log in</button></a>
        </div>
        <div class="col-md-3">
          
        </div>
      </div>

{% endblock %}