{% extends "Login_base_page.html" %}

{% block title %}
  <title> Reset Password </title>
  {% load static from staticfiles %}
  <link href="{% static 'css/signup_page.css' %}" type="text/css" rel="stylesheet"/> 
{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-3">
          <br /><br />
        </div>
        <div class="col-md-6" id="middlebar" style="background:#EEE; color:#000">
          <br /><br /><br /><br /><br /><br /><br /><br /><br />
          <body>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email sent successfully!
          </body>
        </div>
        <div class="col-md-3">
          
        </div>
      </div>

{% endblock %}