{% extends "loggedin_base_page.html" %}

{% block title %}
  <title>{{current_user.username}}'s Profile - Grumblr</title>
  {% load static from staticfiles %}
  <link href="{% static 'css/profile_page.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-md-5">
              <a href="/global_page">
                {% load static from staticfiles %}
                <img src="{% static 'images/Logo.png' %}" class="imgtitle" alt=""/>
              </a>
            </div>
            <div class="col-md-7">
              <table>
                <tr><td><a class="navbar-brand" href="{% url 'follow_page' %}">Follows</a>
                    <td><a class="navbar-brand" href="{% url 'edit_page' %}">Edit</a>
                    <td><a class="navbar-brand" href="{% url 'reset' %}">Reset</a>
                    <td><a class="navbar-brand" href="#">About</a>
                    <td><a class="navbar-brand" href="#">Settings</a>
                    <td><a class="navbar-brand" href="#">Help</a>
                    <td><a class="navbar-brand" href="/">Log out</a>
              </table>
            </div>
          </div>
          </div>
      </nav>

    	<div class="container">

    	  <div class="col-md-3" id="leftbar">
    	  	<br />
    	  	<div class="p1">{{current_user.username}}'s profile:</div>
          <br />
          <p><img src="{% url 'upload_photo' current_user.id %}" alt="{{form.firstname.value}} {{form.lastname.value}}" class="imgbaby"/></p>

          {% if login_user.id != current_user.id %}
               {% if follow_flag == True %}
                  <form method= "post" action="{% url 'unfollow' current_user.id %}">
                    <button type="submit" class="btn btn-success">UnFollow</button>
                    {% csrf_token %}
                  </form>
               {% else %}
                  <form method = "post" action="{% url 'follow' current_user.id %}">
                    <button type="submit" class="btn btn-success">Follow</button>
                    {% csrf_token %}
                   </form>
               {% endif %}
            {% endif %}

          <p>Username: {{current_user.username}}</p>
          <p>First Name: {{info.firstname}}</p>
          <p>Last Name: {{info.lastname}}</p>
          <p>E-mail: {{info.email}}</p>
          <p>Age: {{info.age}}</p>
          <p>Bio: {{info.bio}}</p>
    	  </div>

    	  <div class="col-md-5" id="middlebar">
      		<br />
          <div class="p1">My activities:</div>
          <br />

          {% for post in posts %}
            <div class="p2">{{post.text}}</div>
            <div class="p2">{{post.date}}</div>
            <a href="" name="user">{{post.user.username}}</a>
          {% endfor %}

  		  </div>

        <div class="col-md-3" id="rightbar">
          <br />
          <div class="p1">My Friends:</div>
          <br />
          <table>
            <tr>
              <td>{% load static from staticfiles %}
                <img src="{% static 'images/baby11.jpg' %}" class="smallbaby" alt=""/>
              <td>
                {% load static from staticfiles %}
                <img src="{% static 'images/baby16.jpg' %}" class="smallbaby" alt=""/>
              <td>
                {% load static from staticfiles %}
                <img src="{% static 'images/baby15.jpg' %}" class="smallbaby" alt=""/>
              <td>
                {% load static from staticfiles %}
                <img src="{% static 'images/baby12.jpg' %}" class="smallbaby" alt=""/>
            <tr>
              <td>
                {% load static from staticfiles %}
                <img src="{% static 'images/baby9.jpg' %}" class="smallbaby" alt=""/>
              <td>
                {% load static from staticfiles %}
                <img src="{% static 'images/baby6.jpg' %}" class="smallbaby" alt=""/>
              <td>
                {% load static from staticfiles %}
                <img src="{% static 'images/baby8.jpg' %}" class="smallbaby" alt=""/>
              <td>
                {% load static from staticfiles %}
                <img src="{% static 'images/baby5.jpg' %}" class="smallbaby" alt=""/>
            <tr>
              <td>{% load static from staticfiles %}
                <img src="{% static 'images/baby7.jpg' %}" class="smallbaby" alt=""/>
              <td>
                {% load static from staticfiles %}
                <img src="{% static 'images/baby10.jpg' %}" class="smallbaby" alt=""/>
              <td>
                {% load static from staticfiles %}
                <img src="{% static 'images/baby4.jpg' %}" class="smallbaby" alt=""/>
              <td>
                {% load static from staticfiles %}
                <img src="{% static 'images/baby3.jpg' %}" class="smallbaby" alt=""/>
            <tr>
              <td>
                {% load static from staticfiles %}
                <img src="{% static 'images/baby13.jpg' %}" class="smallbaby" alt=""/>
              <td>
                {% load static from staticfiles %}
                <img src="{% static 'images/baby2.jpg' %}" class="smallbaby" alt=""/>
              <td>
                {% load static from staticfiles %}
                <img src="{% static 'images/baby1.jpg' %}" class="smallbaby" alt=""/>
              <td>
                {% load static from staticfiles %}
                <img src="{% static 'images/baby14.jpg' %}" class="smallbaby" alt=""/>
          </table>
        </div>
      </div>
    
{% endblock %}