{% extends "login_base_page.html" %}

{% block title %}
  <title> Reset Password </title>
  {% load static from staticfiles %}
  <link href="{% static 'css/signup_page.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-3">
          <br /><br />
        </div>
        <div class="col-md-6" id="middlebar" style="background:#EEE; color:#000">
          <br /><br /><br /><br /><br /><br /><br /><br /><br />

          <form action="{% url 'email_sent' token username %}" method = "post">
            <table>
              {{form}}
            </table>
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
            <br /><br /><br /><br />
            {% csrf_token %}
          </form>

        </div>
        <div class="col-md-3">
        </div>
      </div>

{% endblock %}