{% extends "login_base_page.html" %}

{% block title %}
  <title>Sign up for Grumblr Now</title>
  {% load static from staticfiles %}
  <link href="{% static 'css/signup_page.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    	<div class="container">
    	  <div class="col-md-3">
    	  	<br /><br />
    	  </div>
    	  <div class="col-md-6" id="middlebar" style="background:#EEE; color:#000">
    	  	<br />
      		<form class="form-signin" method="post" action="{% url 'signup' %}">
        	  <h1 class="form-signin-heading">Join Grumblr Today</h1>
        	  <br /><br /><br />
            <table>
              {{form}}
            </table>
            <br />
            <!--
        	  <label for="inputUsername" class="sr-only" maxlength="20">Username</label>
            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
            <br />
            <label for="inputFirstname" class="sr-only" maxlength="20">First name</label>
            <input type="text" id="inputFirstname" name="firstname" class="form-control" placeholder="First Name">
        	  <br />
            <label for="inputLastname" class="sr-only" maxlength="20">Last name</label>
            <input type="text" id="inputLastname" name="lastname" class="form-control" placeholder="Last Name">
            !-->
            <!--
            <label for="inputAge" class="sr-only" maxlength="3">Age</label>
            <input type="text" id="inputAge" name="age" class="form-control" placeholder="Age">
            <br />
            <label for="inputCountry" class="sr-only" maxlength="20">Country</label>
            <input type="text" id="inputCountry" name="country" class="form-control" placeholder="Country">
            !-->
            <!--
            <br />
        	  <label for="inputPassword" class="sr-only" maxlength="20">Password</label>
        	  <input type="password" id="inputPassword" name="password1" class="form-control" placeholder="Password">
            <br />
        		<label for="inputConfirmPassword" class="sr-only" maxlength="20">Confirm Password</label>
            <input type="password" id="inputConfirmPassword" name="password2" class="form-control" placeholder="Confirm Password">
            !-->
            <div class="checkbox">
          		  <label>
            	    <input type="checkbox" value="remember-me"> Remember me
          		  </label>
        		</div>
            <!--
            {% for error in errors %}
              <p style="color: red">
                {{ error }}
              </p>
            {% endfor %}!-->
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            <button class="btn btn-lg btn-default btn-block" type="submit" name="login"><a href="/">Log in</a></button>
            {% csrf_token %}
      		</form>
  		  </div>

        <div class="col-md-3">
          
        </div>
      </div>
    
{% endblock %}